<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Reo"
            id="org.ect.reo">
      </category>
      <view
            name="Core Generator"
            icon="icons/view-icon.gif"
            category="org.ect.reo"
            class="org.ect.codegen.v2.core.ui.CoreView"
            id="org.ect.codegen.v2.core.ui.CoreView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.ect.codegen.v2.core.ui.CoreView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
