<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
       <objectContribution 
        objectClass="org.eclipse.core.resources.IFile"
          id="org.ect.convert.sd2reo.contribution1"
          nameFilter="*.xmi"> 
       <action
               label="Convert Sequence Diagram To Reo"
               class="org.ect.convert.umlsd2reo.popup.actions.Convertor"
               menubarPath="additions"
               enablesFor="1"
               id="org.ect.convert.sd2reo.newAction">
         </action>
       </objectContribution>            
   </extension>
</plugin>
