<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.ect.ea.extensions">
      <extensionDefinition
            editParts="org.ect.ea.extensions.constraints.providers.RefinementMenuProvider"
            enabledFor="transitions"
            icon="icons/constraint.gif"
            id="cwi.ea.extensions.constraints"
            name="Constraints"
            providerClass="org.ect.ea.extensions.constraints.providers.ConstraintExtensionProvider"
            type="textual">
         <mutualExclusion
               global="true"
               id="cwi.ea.extensions.clocks.tcaConstraints">
         </mutualExclusion>
      </extensionDefinition>
      <automatonType
            name="Constraint Automaton">
         <extensionReference
               id="cwi.ea.extensions.constraints">
         </extensionReference>
         <extensionReference
               id="cwi.ea.extensions.startStates">
         </extensionReference>
         <extensionReference
               id="cwi.ea.extensions.transitionPortNames">
         </extensionReference>
         <extensionReference
               id="cwi.ea.extensions.automatonPortNames">
         </extensionReference>
      </automatonType>
      <automatonType
            name="Constraint Automaton with Memory">
         <extensionReference
               id="cwi.ea.extensions.constraints">
         </extensionReference>
         <extensionReference
               id="cwi.ea.extensions.startStates">
         </extensionReference>
         <extensionReference
               id="cwi.ea.extensions.stateMemory">
         </extensionReference>
         <extensionReference
               id="cwi.ea.extensions.transitionPortNames">
         </extensionReference>
         <extensionReference
               id="cwi.ea.extensions.automatonPortNames">
         </extensionReference></automatonType>
   </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.cwi.nl/ea/constraints" 
       class = "org.ect.ea.extensions.constraints.ConstraintsPackage"
       genModel = "model/constraints.genmodel" /> 
  </extension>
  <extension
        point="org.eclipse.ui.popupMenus">
     <objectContribution
           id="org.ect.ea.extensions.constraints.AutomatonEditPart"
           objectClass="org.ect.ea.diagram.edit.parts.AutomatonEditPart">
        <action
              class="org.ect.ea.extensions.constraints.parts.EditPortTypesAction"
              enablesFor="1"
              id="org.ect.ea.extensions.constraints.parts.EditPortTypesAction"
              label="Edit Port Types"
              menubarPath="additions"
              style="push">
        </action>
     </objectContribution>
  </extension>

</plugin>
