<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="codeGenerators" name="Code Generators" schema="schema/codeGenerators.exsd"/>
   <extension
         point="org.eclipse.ui.startup">
      <startup class="org.ect.codegen.parts.CodeGenStartup"/>
   </extension>

</plugin>
