<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.ect.ea.extensions">
      <extensionDefinition
            enabledFor="states"
            icon="icons/stateMemory.gif"
            id="cwi.ea.extensions.stateMemory"
            name="State Memory"
            providerClass="org.ect.ea.extensions.statememory.StateMemoryExtensionProvider"
            type="textual">
      </extensionDefinition>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.cwi.nl/ea/stateMemory" 
       class = "org.ect.ea.extensions.statememory.StateMemoryPackage"
       genModel = "model/stateMemory.genmodel" />
  </extension>

</plugin>
